body { 
    font: 1em Fontin, 'Aleo';
    font-family: 'Roboto', serif; 
 }
nav { font-size: .7em }
.button {
    background-color: #4CAF50; /* Green */
    border-radius: 10px;
    border: 0px;
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Aleo', serif;
  }
  
  .button2 {background-color: #008CBA;} /* Blue */
  .button3 {background-color: #f44336;} /* Red */ 
  .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
  .button5 {background-color: #555555;} /* Black */



@page { size: A4; margin: 0.2cm }
@page {size: landscape}
@media print {
    nav { display: none }
}